* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sec-head {
  padding: 20px;
}

.link-head {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  color: rgba(51, 47, 47, 0.8);
}

.active {
  color: black;
  transform: rotate(180deg);
  font-weight: 600;
}

.div-head {
  display: none;
}

.bi {
  border: 1px brown solid;
  padding: 10px;
  color: brown;
  border-radius: 12px;
  background-color: antiquewhite;
}

.div-homepage {
  background-image: url("/store.jpeg");
  height: 94vh;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.div-homepage h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 64px;
  font-style: oblique;
  text-shadow: 3px 3px 5px rgb(109, 98, 98);
  text-decoration: underline;
}

.sec-about {
  padding: 10px;
}

.div-about {
  display: flex;
  gap: 80px;
  max-width: 1200px;
  width: 95vw;
  margin: 0 auto;
  justify-content: space-between;
}
img {
  width: 100%;
}

.sec-prod {
  padding: 10px;
}

.div-prod {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.card-prod {
  width: 100%;
  height: 400px;
  border: 2px brown solid;
  padding: 10px;
  border-radius: 12px;
}

.div-image-prod {
  width: 60%;
  margin: 20px auto;
  text-align: center;
}

.card-prod img {
  width: 60%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.card-prod p {
  text-align: center;
}

.card-prod h2 {
  height: 100px;
}

.link-single-card {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 678px) {
  .bi {
    display: none;
  }
  .div-head {
    display: block;
  }

  .card-prod {
    width: calc(100% / 2 - (50px * 1 / 2));
  }
}

@media screen and (min-width: 992px) {
  .card-prod {
    width: calc(100% / 3 - (50px * 2 / 3));
  }
}
