* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sec-head {
  padding: 20px;
}

.link-head {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  color: rgba(51, 47, 47, 0.8);
}

.active {
  color: black;
  transform: rotate(180deg);
  font-weight: 600;
}

.div-head {
  display: none;
}

.bi {
  border: 1px brown solid;
  padding: 10px;
  color: brown;
  border-radius: 12px;
  background-color: antiquewhite;
}

@media screen and (min-width: 678px) {
  .bi {
    display: none;
  }
  .div-head {
    display: block;
  }
}

.div-homepage {
  background-image: url("/store.jpeg");
  height: 94vh;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.div-homepage h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 64px;
  font-style: oblique;
  text-shadow: 3px 3px 5px rgb(109, 98, 98);
  text-decoration: underline;
}
